html {
  background-color: white;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 1em;
}

body {
  padding: 1px;
  padding-right: 5px;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

a,
a:visited,
a:active {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.print-only {
  display: none;
}

@media print {
  .print-only {
    display: inherit;
  }

  .print-hidden {
    display: none;
  }
}
